[color]
    ui = auto
    branch = always
    diff = always
    interative = always
    status = always

[user]
	name = silky
	email = noonsilk+-noonsilk@gmail.com

[giggle]
	main-window-maximized = false
	main-window-geometry = 809x358+1109+0
	history-view-vpane-position = 37
	file-view-vpane-position = 44
	main-window-view = HistoryView

[alias]
    hist = log --oneline --graph --decorate
	d = difftool
	edit = !$EDITOR \"$(git ls-files | tmenu)\"
	quick-stats = ! /usr/local/bin/git-quick-stats

[push]
	default = matching

[diff]
	tool = vimdiff
	submodule = log

[difftool]
	prompt = false

[status]
	submodulesummary = 1

[credential]
	helper = gnome-keyring

[core]
	editor = /home/noon/.local/bin/nvim

; Magic to help torch work.
; [url "https://"]
;    insteadOf = git://
;
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
