[color]
  ui         = auto
  branch     = always
  diff       = always
  interative = always
  status     = always

[user]
  name = silky
  email = noonsilk+-noonsilk@gmail.com

[alias]
  hist = log --oneline --graph --decorate
  d = difftool
  edit = !$EDITOR \"$(git ls-files | tmenu)\"
  pwl = push --force-with-lease

[push]
  default = matching

[diff]
  tool = vimdiff
  submodule = log

[difftool]
  prompt = false

[status]
  submodulesummary = 1

[credential]
  helper = gnome-keyring

[core]
  ; Todo: This will need to change.
  editor = /home/noon/.local/bin/nvim

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main
